@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Explora&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("img/img2.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(50px);
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-area {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-area input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-area input::placeholder {
  color: rgb(245, 243, 243);
}

.input-area i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.sobre-senha {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}

.sobre-senha label input {
  accent-color: white;
  margin-right: 5px;
}

.sobre-senha a {
  text-decoration: none;
  color: white;
}

.sobre-senha a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

.login:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.5s;
}

.registro-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}

.registro-link a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.registro-link a:hover {
  text-decoration: underline;
}
